flask
numpy
pandas
scikit-learn
matplotlib
requests
httpx
markdown-it-py
jupyterlab
jupytext
ghp-import
watchdog
mkdocs-material
mkdocs-jupyter
mkdocs-mermaid2-plugin
pymdown-extensions
jsonschema
traitlets

flask==2.3.3
gunicorn==21.2.0

